*.ttf filter=lfs diff=lfs merge=lfs -text
*.aep filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
magic-obs/src/main/resources/com/github/vatbub/magic/data/card-database.json filter=lfs diff=lfs merge=lfs -text
